@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pozadina {
  @apply flex justify-center items-center bg-cover bg-center h-screen;  /* Primena Tailwind CSS klasa */
  background-image: url('./assets/pozadina.jpg');  /* Pozadinska slika */
}

.pozadina-forma-profil {
  background-image: url('./assets/pozadina.jpg');
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #db4a34;
  width: 50px;
  height: 50px;
  animation: spin 1s ease-in-out infinite;
}

.logo {
  background-image: url('./assets/ufindiLogo.png');
}
